__pycache__/
*.pyc

build/
build_*/
dist/
dist_*/
*.spec

result/
ai_output/
videos/

release_*/
release_*.zip

otoscope_exam.exe
otoscope_exam_ai.exe
INSTRUCTIONS.txt

otoscope_exam_ai/build/
otoscope_exam_ai/dist/
otoscope_exam_ai/dist_macos/
otoscope_exam_ai/result/
otoscope_exam_ai/ai_output/
otoscope_exam_ai/ai_precomputed/
otoscope_exam_ai/videos/
otoscope_exam_ai/*.spec
otoscope_exam_ai/otoscope_exam_ai.exe
